{% extends 'base.html' %}
{% load i18n blog_tags mezzanine_tags pages_tags sparrow_tags %}
{% block main %}

    <div id="firstpage-padded">

	{% blog_recent_posts 5 as recent_posts %}
	{% if recent_posts %}

		{% for blog_post in recent_posts %}
			<div class="general-information">
				<h1><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h1>
				<time datetime="{{ blog_post.publish_date|date:"c" }}">{{ blog_post.publish_date|date:"H:i" }} // {{ blog_post.publish_date|date:"d M"|lower }}</time>
				{% editable blog_post.content %}
				{{ blog_post.content|safe }}
				{% endeditable %}
			</div>

			<div class="comments">
			</div>

			<div class="share">
			</div>
		{% endfor %}
	{% endif %}

	</div>
{% endblock %}

{% block right_panel %}
	{# load puff texts through template tag #}
	{% pufftext %}

	{% for puff in puff_texts %}
		<h4>{{ puff.title }}</h4>
		<p><img src="{{ MEDIA_URL }}/{{ puff.image }}" /></p>
		<p>{{ puff.content|safe }}</p>
		<hr/>
	{% endfor %}

	{# load link roll #}
	{% linkroll %}

	<ul class="link-roll">
	<h4>Comrades</h4>
	{% for link in link_roll %}
		<li>
			<p><a href="{{ link.url }}">{{ link.name }}</a></p>
{#			<p>{{ link.description }}</p>#}
		</li>
	{% endfor %}
	</ul>
{% endblock %}


